.contacto__rodrigo{
    padding: 15px 0px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.contacto__rodrigo a{
    background-color: var(--first-color);
    color: var(--white-color);
    border-radius: 25px;
    height: 3rem;
    width: 45%;
    border: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto__parrafo{
    padding-left: 20px;
}

@media screen and (max-width: 768px){
    .contacto__rodrigo a{
        width: 70%;
        height: 4rem;
        font-size: 26px;
    }    

    .contacto__rodrigo a:hover{
        border: 1px solid var(--white-color);
    }
}