@import '_vars.scss';

.skills__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3rem 0rem;
    margin: 0 auto;
}

.skill_box{
    text-align: center;
    padding-top: -50px;
}

.skills__subtitle{
    color: var(--first-color);
    margin-bottom: var(--mb-3);
    align-items: center;
    text-align: center;
}

.skills__name{
    // font-size: var(--small-font-size);
    margin-right: var(--mb-2);
    margin-bottom: var(--mb-3);
    padding: .25rem .5rem;
    background-color: var(--white-color);
    border-radius: .25rem;
    color: var(--black-color);
    font-weight: bold;
}
.skills__img{
    border-radius: .5rem;
    width: 40%;
    height: 100px;
}

@media screen and (max-width: 768px){
    .skills__container{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 5rem;
    }

    .skills__img{
        margin: 0 auto;
        height: auto;
        width: 100%;
    }

    .skills__img img{
        margin: 0 auto;
    }
}