@import '_vars.scss';

.home{
    position: relative;
    background-color: var(--first-color);
    height: 100vh;
    width: 100%;
    color: var(--white-color);
}

.home__title{
    align-self: flex-start;
    text-align: center;
    line-height: 1.2;
    padding-bottom: 50px;
    padding-top: 50px;
}

.home__title span{
    font-weight: 100;
    font-size: 85px;
    text-shadow: 0 20px 25px rgba(0,0, 0, .5);
}

.home__description{
    width: 80%;
    padding-top: 20px;
    text-align: left;
    font-size: 30px;
    margin: 0 auto;
}

.home__contactme{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    
    & .home__scroll{
        width: 10%;
        padding-left: 5px;  
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: flex-start;
      
      & a{
          writing-mode: vertical-lr;
          transform: rotate(-180deg);
          color: var(--white-color);
      }
      
      & .faArrowUp{
          margin: 15px 5px;
      }
    }
    
    & .home__social{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
      
      & .faLinkedin, .faGithub, .faInstagram{
        color: var(--white-color);
        font-size: 40px;
        }
      
      & .faLinkedin:hover, .faGithub:hover, .faInstagram:hover{
        color: var(--gray-color);
      }
    }
}

